/*
*/

.section {
    clear: both !important;
    overflow: hidden !important;
    background-color: #ffffff !important;
    border-left: 1px solid #231F20 !important;
    border-right: 1px solid #231F20 !important;
    padding: 10px !important;
}

#recall-template #opening-message {
    color: Red;
    font-size: 20px;
    font-style: italic;
}

#recall-template #details {
    color: Red;
    margin-left: 15px;
    margin-top: 10px;
}

#recall-template #recall-message {
    color: Red;
    margin-top: 8px;
}


a:link, a:visited {
    text-decoration: underline;
    color: blue;
}

a:hover, a:active {
    text-decoration: none;
    color: blue;
}

a.big-button {
    color: White;
    text-decoration: none;
}

.macro-error {
    color: Red;
    text-decoration: underline blink;
}

.customer-facing body {
}

.salesrep-facing body {
    background-image: url("https://quotevalet.com/images/internal.gif");
    background-repeat: repeat-x repeat-y;
}

.activity-timestamp {
    color: Gray;
}

.activity-poster {
    color: Black;
    font-weight: bolder;
}

.activity-message {
    padding: 7px;
    margin: 5px inherit;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* ----- Section / Section Separator ----- */
.section {
    clear: both;
    overflow: hidden;
    background-color: White;
    border-left: 1px solid #231F20;
    border-right: 1px solid #231F20;
    padding: 10px; 
}

.section-separator {
    clear: both;
    padding: 5px;
    color: White;
    font-size: 16px;
    font-weight: bolder;
    background: #4b515d; /* Old browsers */
}

    .section-separator .section-item {
        height: 20px;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle; /*border: 1px solid red;*/
    }

    .section-separator .toggle-button {
        background-image: url("https://quotevalet.com/images/toggle.gif");
        background-repeat: no-repeat;
        background-position: center center;
        width: 15px;
    }

        .section-separator .toggle-button:hover {
            cursor: pointer;
        }

/* ----- Tenant Internal ----- */
#running-mode {
    width: 230px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    padding: 0 30px;
    margin: 0 0 5px 15px;
    color: White;
    font-size: large;
    background: #28abe1; /* Old browsers */
    background: -moz-linear-gradient(top, #28abe1 0%, #231F20 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28abe1), color-stop(100%,#231F20)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #28abe1 0%,#231F20 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #28abe1 0%,#231F20 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #28abe1 0%,#231F20 100%); /* IE10+ */
    background: linear-gradient(top, #28abe1 0%,#231F20 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28abe1', endColorstr='#231F20',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#logged-in-user-details {
    float: right;
    display: inline-block;
    padding-top: 23px;
    padding-right: 25px;
}

/* ----- Top Banner ----- */
#top-banner {
    clear: both;
    height: 76px;
    background: #231F20;
    background-image: url('/Images/Topper_Standard.png');
    background-repeat: no-repeat;
    background-position: right;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ----- Letterhead Section ----- */
#letterhead {
}

#letterhead-logo {
    border: 0;
    max-height: 80px;
    max-width: 270px;
}

#letterhead-details {
    float: right;
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    text-align: right;
    line-height: 27px;
}

#tenant-website {
    font-size: 16px;
}

#tenant-phone {
    font-size: 24px;
}

#tenant-address {
    font-size: 12px;
}

/* ----- Quote Details Section ----- */
#expiration-date {
    text-align: right;
    margin-bottom: 10px;
}

#divExpiresDate {
    text-align: right;
    margin-bottom: 15px;
    color: #ff9c3c;
    font-weight: bolder;
}

/* ----- Letterhead Section ----- */
.prepared-item {
    display: inline-block;
    vertical-align: top; /*border:1px solid red;*/
    padding: 0 0 10px 0;
}

#prepared-for, #prepared-by {
    width: 35%; /*border:1px solid red*/
}

    #prepared-for div, #prepared-by div {
        margin-top: 1px;
        margin-bottom: 1px;
    }

#prepared-by-pictures {
    float: right;
    text-align: right;
    display: inline-block; /*border:1px solid red;*/
}

.prepared-by-picture, .prepared-by-signature-image {
    max-width: 120px;
}

.prepared-by-picture {
    max-height: 180px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 10px;
}

.prepared-by-signature-image {
    /*max-height:50px;*/
}

#pdf-section {
    clear: both;
    margin: 0;
    margin-top: 20px;
    padding: 10px; /*     padding-left:25px;     padding-bottom:15px;*/
}

#pdf-thumbnail-section {
    position: relative;
    display: inline-block; /*background-color:Red;*/
}

#pdf-image {
    border: 0;
    vertical-align: middle;
}

    #pdf-image.thumbnail-exists {
        position: absolute;
        bottom: -5px;
        left: 65px;
        display: inline-block;
    }

#pdf-description {
    width: 560px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: top;
}

.pdf-thumbnail {
    margin-right: 16px;
    max-width: 95px;
    border: 0;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.80);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.70);
}

a.thumbnail-link {
    text-decoration: none;
}

/* ----- Line Items Section ----- */
.customer-facing .table-001 {
    border-collapse: collapse;
}

#line-item-detail-table .col-th-price {
    text-align: center;
}

#line-item-detail-table td {
    font-size: 11px;
}

#line-item-detail-table .line-item-picture {
    max-width: 50px;
    max-height: 50px;
    width: 50px; /* IE8 fix */
}

    #line-item-detail-table .line-item-picture:hover {
        cursor: pointer;
    }

#line-item-detail-table .col-unit-price {
    min-width: 60px;
    text-align: right;
}

#line-item-detail-table .col-extended-price {
    text-align: right;
    min-width: 60px;
}

#line-item-detail-table .row-group-header .col-description {
    font-weight: bolder;
}

#line-item-detail-table .row-group-member .col-description {
    padding-left: 30px;
}

#line-item-detail-table .row-subtotal .col-description, #line-item-detail-table .row-running-subtotal .col-description {
    padding-left: 40px;
    font-weight: bolder;
    font-style: italic;
}

#line-item-detail-table .row-subtotal .col-extended-price, #line-item-detail-table .row-running-subtotal .col-extended-price {
    font-weight: bolder;
    font-style: italic;
}

#line-item-detail-table .row-comment .col-description {
    color: Gray;
}

#line-item-detail-table .row-heading .col-description {
    font-size: 13px;
    font-weight: bold;
}

#line-item-detail-table .row-summary .col-description {
    padding-left: 40px;
    font-weight: bolder;
    font-style: italic;
}

#line-item-detail-table .row-summary .col-extended-price {
    font-weight: bolder;
    font-style: italic;
}

#line-item-detail-table .row-summary-section-header {
    color: #000000;
    background-color: #e7e8f1;
    border-bottom: 5px solid white;
}

    #line-item-detail-table .row-summary-section-header .col-description {
        color: #4b515d;
        font-weight: bolder;
        font-size: 15px;
        text-align: right;
    }

    #line-item-detail-table .row-summary-section-header .col-extended-price {
        color: #4b515d;
        font-weight: bolder;
        font-size: 15px;
        text-align: right;
    }

#line-item-detail-table .row-summary-totaling .col-description {
    padding-left: 40px;
    font-weight: bolder;
    font-style: italic;
}

#line-item-detail-table .row-summary-totaling .col-extended-price {
    font-weight: bolder;
    font-style: italic;
}

#line-item-detail-table .row-section-header {
    background-color: #28abe1;
    font-size: 15px;
}

    #line-item-detail-table .row-section-header td {
        color: #ffffff;
        font-size: 15px;
        font-weight: bolder;
    }

.submit-options {
    margin: 20px 0 0 0;
}

#totals-area {
    float: right;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 30px;
    display: inline;
}

.customer-facing .totals-table {
    float: right;
    color: #4b515d;
    font-weight: bolder;
    font-size: 15px;
    text-align: right;
    line-height: 17px;
}

.customer-facing .deposit {
    text-align: right;
}

.customer-facing .recurring-totals {
    text-align: right;
    clear: both;
}

#totals-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

#totals-table .col-description {
    padding-right: 20px;
}

#totals-table .col-amount {
    text-align: right;
}

#totals-table .row-total td {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-top: 1px solid #231F20;
}

/* ----- Rendered PDF Section ----- */
#rendered-quote-pdf-section {
    text-align: center;
}

#rendered-quote-pdf {
    width: 100%;
}

/* ----- Acceptance Section ----- */
#acceptance-details {
    display: block;
    background-color: #fafafa;
    padding: 10px;
    padding-right: 40px;
    margin: 3px 0 10px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 10px;
}

    #acceptance-details .form-label-area {
        width: 95px;
    }

    #acceptance-details #acceptance-terms-checkbox {
        position: relative;
        top: 2px;
    }

    #acceptance-details .form-label-area {
        margin-left: 25px;
    }

#acceptance-terms-area {
    margin-bottom: 10px;
}

#acceptance-details .textbox {
    width: 250px;
}

#acceptance-details #DH_AcceptanceNotes {
    width: 250px;
    height: 100px;
}

#acceptance-details .form-label-area .form-comment {
    display: inline;
}

#acceptance-details #QV_SubmitAccept {
    margin-left: 0px;
    margin-top: 25px;
}

/* ----- Payment Details Section ----- */


/* ----- Questions Section ----- */
#comment-submit-area {
    margin-bottom: 20px;
    padding: 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

    #comment-submit-area #QV_CommentNewEntry {
        width: 580px;
        height: 100px;
    }

.customer-facing #comment-submit-area {
    background-color: #F7E7A5;
}

.salesrep-facing #comment-submit-area {
    background-color: #ADD7B5;
}

.comment-from-customer, .comment-from-salesrep, .comment-from-salesrep-synopsis {
    margin-bottom: 10px;
    display: inline-block;
    width: 70%;
}

.comment-from-salesrep-synopsis {
    width: 100%;
}

.customer-facing .comment-from-salesrep {
    float: right;
}

.salesrep-facing .comment-from-customer {
    float: right;
}

.comment-message {
    padding: 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.comment-from-customer .comment-message {
    background-color: #F7E7A5;
}

.comment-from-salesrep .comment-message {
    background-color: #ADD7B5;
}

.comment-from-salesrep-synopsis .comment-message {
    background-color: #F7C3AD;
}

.time-expressed-in-message {
    clear: both;
    text-align: right;
}

/* ----- Footer ----- */


    #footer a {
        color: White;
    }

    #footer #footer-tagline {
        font-style: italic;
        -style: italic;
    }

/* Salesrep Facing Specific */
/* --------------------------------------- */
.salesrep-facing #acceptance-section {
    display: none;
}

/* Approval Template Specific */
/* --------------------------------------- */
#approval-template #line-items-section {
    display: none;
}

#approval-template #approval-submit-area {
    margin-bottom: 20px;
    padding: 7px;
    background-color: #C4E1FF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#approval-template #QV_InputApprovalActivityNote {
    width: 400px;
    height: 100px;
}

#approval-template #approval-submit-area .form-label-area {
    width: 60px;
}

#approval-template .approval-history-item {
    background-color: #C4E1FF;
}

/* Peer Review Template Specific */
/* --------------------------------------- */
#peer-review-template #peer-review-submit-area {
    margin-bottom: 20px;
    padding: 7px;
    background-color: #C4E1FF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

    #peer-review-template #peer-review-submit-area .form-label-area {
        width: 60px;
    }

#peer-review-template #QV_InputPeerReviewMessage {
    width: 400px;
    height: 100px;
}

.peer-review-history-item {
    background-color: #C4E1FF;
}

/* Acceptance Template Specific */
/* --------------------------------------- */
#acceptance-template .section-separator {
    height: 5px;
    padding: 0px;
}

#acceptance-template #print-icon {
    float: right;
}

#acceptance-template #opening-message {
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 30px;
}

#acceptance-template #content-area-001 {
    width: 650px;
    position: relative;
    left: 40px;
}

#acceptance-template #acceptance-image {
    display: inline-block;
    background-image: url("https://quotevalet.com/images/CheckMarkInGreenCircle.png");
    background-repeat: no-repeat;
    width: 243px;
    height: 323px;
}

#acceptance-template #details-header {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 23px;
}

#acceptance-template #details {
    display: inline-block;
    width: 400px;
    float: right;
}

#acceptance-template #closing-message {
    clear: both;
    font-size: 18px;
    position: relative;
    top: -20px;
}

#acceptance-template #details li {
    margin-bottom: 5px;
}

/* Recall Template Specific */
/* --------------------------------------- */
#acceptance-template #recall-template .section-separator {
    height: 5px;
    padding: 0px;
}

#recall-template #recall-details {
    color: Red;
}

#recall-template #opening-message {
    color: Red;
    font-size: 20px;
    font-style: italic;
}

#recall-template #details {
    color: Red;
    margin-left: 15px;
    margin-top: 10px;
}

#recall-template #recall-message {
    color: Red;
    margin-top: 8px;
}

/* Login Template Specific */
/* --------------------------------------- */
#login-template #login-submit-area {
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    height: 130px;
}

#account-number-label, #username-label, #password-label {
    position: absolute;
    left: 0px;
    font-weight: bolder;
}

#account-number-label {
    top: 10px;
}

#username-label {
    top: 35px;
}

#password-label {
    top: 60px;
}

#QV_InputLoginUsername, #QV_InputLoginPassword {
    position: absolute;
    left: 80px;
    width: 150px;
}

#QV_InputLoginUsername {
    top: 30px;
}

#QV_InputLoginPassword {
    top: 55px;
}

#qv-input-login-account-number {
    position: absolute;
    top: 10px;
    left: 120px;
}

#QV_SubmitLogin {
    position: absolute;
    top: 86px;
    left: 155px;
    width: 80px;
}

#hint-image {
    position: absolute;
    top: 33px;
    left: 242px;
    background-image: url('/images/curlybracketsmall.jpg');
    background-repeat: no-repeat;
    width: 20px;
    height: 45px;
}

#hint-text {
    position: absolute;
    top: 48px;
    left: 266px;
}

#login-template label[for="QV_InputLoginUsername"], #login-template label[for="QV_InputLoginPassword"] {
    color: Red;
    z-index: 100000;
    background-color: White;
    outline: white solid 7px;
    position: absolute;
    left: 244px;
}

#login-template label[for="QV_InputLoginUsername"] {
    top: 37px;
}

#login-template label[for="QV_InputLoginPassword"] {
    top: 63px;
}

#qv-login-error-message {
    position: absolute;
    color: Red;
    top: 117px;
}

/* OrderForm Template Specific */
/* ---------------------------------------------------- */
#order-form-template #order-form-header {
    border-top: 1px solid #231F20;
}

#order-form-template #letterhead-logo {
    margin-left: 15px;
}

#order-form-template #letterhead-details {
    margin-left: 20px;
}

#order-form-template #letterhead-logo {
    display: block;
}

#order-form-template #letterhead-details {
    line-height: 22px;
    text-align: left;
    float: none;
}

#order-form-template #tenant-website {
    font-size: 12px;
}

#order-form-template #tenant-phone {
    font-size: 16px;
}

#order-form-template #tenant-address {
    font-size: 10px;
}

#order-form-template .section {
    border: none;
}

/* QuoteValet Mobile Primary QuotePDF Specific */
/* ---------------------------------------------------- */
#quotevaletmobile-primaryquotepdf-template body {
    width: auto;
    color: Black;
}

#quotevaletmobile-primaryquotepdf-template .hr-separator {
    height: 2px;
    width: 98%;
    background-color: #3A5E91;
    margin-left: auto;
    margin-right: auto;
}

#quotevaletmobile-primaryquotepdf-template .section {
    border-left: none;
    border-right: none;
    position: relative;
}

#quotevaletmobile-primaryquotepdf-template .section-separator {
    background-color: #3A5E91;
}

#quotevaletmobile-primaryquotepdf-template .table-001 td {
    color: Black;
    border-bottom: 1px solid #3A5E91;
}

#quotevaletmobile-primaryquotepdf-template #top-section-separator {
    text-align: right;
}

#quotevaletmobile-primaryquotepdf-template #letterhead {
    border-bottom: 2px solid #3A5E91;
}

#quotevaletmobile-primaryquotepdf-template #logo {
    float: left;
}

#quotevaletmobile-primaryquotepdf-template #tenant-info {
    float: left;
    width: 200px;
    margin-left: 30px;
}

    #quotevaletmobile-primaryquotepdf-template #tenant-info .layout-001.left {
        width: 60px;
    }

    #quotevaletmobile-primaryquotepdf-template #tenant-info #prepared-by-company {
        font-size: larger;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    #quotevaletmobile-primaryquotepdf-template #tenant-info #prepared-by-address {
        margin-bottom: 10px;
    }

#quotevaletmobile-primaryquotepdf-template #quote-info {
    position: absolute;
    right: 0px;
    top: -0px;
}

    #quotevaletmobile-primaryquotepdf-template #quote-info .layout-001 {
        padding: 5px;
        border: 1px solid #3A5E91;
    }

    #quotevaletmobile-primaryquotepdf-template #quote-info .layout-001 {
        border-top: none;
    }

        #quotevaletmobile-primaryquotepdf-template #quote-info .layout-001.left {
            width: 100px;
            font-weight: bold;
            background-color: #E3EAF4;
        }

        #quotevaletmobile-primaryquotepdf-template #quote-info .layout-001.right {
            width: 120px;
            text-align: right;
        }

#quotevaletmobile-primaryquotepdf-template #quote-details-section {
    /* width:720px;     margin-left:auto;     margin-right:auto; */
}

#quotevaletmobile-primaryquotepdf-template #prepared-for h4, #quotevaletmobile-primaryquotepdf-template #prepared-by h4 {
    color: Gray;
    margin-bottom: 16px;
    font-size: larger;
}

#quotevaletmobile-primaryquotepdf-template #prepared-for div, #quotevaletmobile-primaryquotepdf-template #prepared-by div {
    margin-bottom: 5px;
}

#quotevaletmobile-primaryquotepdf-template #prepared-for .phone-number {
    margin-top: 14px;
}

#quotevaletmobile-primaryquotepdf-template #prepared-by {
    float: right;
}

    #quotevaletmobile-primaryquotepdf-template #prepared-by .email-address {
        margin-top: 14px;
    }

    #quotevaletmobile-primaryquotepdf-template #prepared-by .prepared-by-signature-image {
        margin-top: 14px;
    }

#introduction-notes {
    padding: 3px;
    margin-left: 7px;
    margin-bottom: 10px;
}

#quotevaletmobile-primaryquotepdf-template #line-item-detail-table th {
    background-color: #3A5E91;
    border-left: 2px solid white;
    color: White;
    padding: 4px;
    text-align: center;
    border-bottom: none;
}

    #quotevaletmobile-primaryquotepdf-template #line-item-detail-table th.col-qty {
        border-left: none;
    }

#quotevaletmobile-primaryquotepdf-template #line-item-detail-table td {
    border-bottom: 2px solid white;
}

#quotevaletmobile-primaryquotepdf-template #totals-area td {
    border: 1px solid #3A5E91;
    padding: 5px;
}

    #quotevaletmobile-primaryquotepdf-template #totals-area td.col-description {
        background: #E3EAF4;
    }

#quotevaletmobile-primaryquotepdf-template #totals-area .row-total td.col-description, #quotevaletmobile-primaryquotepdf-template #totals-area .row-total td.col-amount {
    background: #3A5E91;
    color: White;
}

#quotevaletmobile-primaryquotepdf-template #totals-area td.col-description {
    width: 80px;
}

#quotevaletmobile-primaryquotepdf-template #totals-area td.col-amount {
    width: 130px;
}

#quotevaletmobile-primaryquotepdf-template .col-unit-price, #quotevaletmobile-primaryquotepdf-template .col-extended-price {
    text-align: right;
}

#quotevaletmobile-primaryquotepdf-template #total-line {
    display: block;
    height: 5px;
    width: 100%;
    background-color: #3A5E91;
    margin-top: 20px;
}

#quotevaletmobile-primaryquotepdf-template #totals-area {
    margin-top: -16px;
}

.v2 .section {
    border: none;
}

/* QuoteValet OrderForm */
/* ---------------------------------------------------- */
.layout-001 {
    float: left;
}

    .layout-001.left {
        clear: both;
    }

    .layout-001.right {
    }

.highlight {
    background-color: #FFF34D;
    -moz-border-radius: 1px; /* FF1+ */
    -webkit-border-radius: 1px; /* Saf3-4 */
    border-radius: 1px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
    padding: 1px 4px; /*margin:0 -4px;*/
    padding: 0px;
}

.highlight-current {
    background-color: Orange;
}

.col-qty input /*QTY*/ {
    width: 50px;
}

input[name^="DI_QtyBase"] {
    width: 50px;
}

.ribbon-001 {
    height: 50px;
    line-height: 50px;
    width: 766px;
    position: relative;
    left: -13px;
}

.ribbon-triangle-left, .ribbon-triangle-right {
    width: 13px;
    height: 13px;
    position: absolute;
    top: -13px;
}

.ribbon-triangle-left {
    background-image: url("/images/ribbon-001-left.png");
    left: 0px;
}

.ribbon-triangle-right {
    background-image: url("/images/ribbon-001-right.png");
    right: 0px;
}

.section-item.section-heading {
    font-size: 30px;
}

#orderform-title-area {
    display: inline-block;
    position: relative;
    overflow: show;
    width: 230px;
    height: 50px;
    left: 5px;
}

#orderform-icon {
    background-image: url("/images/orderform-icon.png");
    width: 39px;
    height: 39px;
    position: absolute;
    top: 5px;
}

#orderform-title {
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    right: 5px;
    top: -9px;
}

#orderform-docno {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    right: 5px;
    top: 14px;
}

.search-input-area {
    display: inline-block;
    position: relative;
    margin-left: 15px;
}

#search-control-items {
    position: absolute;
    overflow: hidden;
    right: 5px;
    top: -1px;
    display: none;
}

#search-count {
    color: gray;
    position: relative;
    z-index: 100;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    margin-right: 3px;
}

.search-controls {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
    opacity: .5;
}

    .search-controls:hover {
        opacity: 1;
        cursor: pointer;
    }

#search-up {
    background-image: url("/images/icon-16x16-up.png");
}

#search-down {
    background-image: url("/images/icon-16x16-down.png");
}

#search-clear {
    background-image: url("/images/icon-16x16-x.png");
}

#search-icon {
    background-image: url("/images/icon-32x32-search.png");
    opacity: .40;
    cursor: default;
    margin-right: -5px;
}

#cart {
    background-image: url("/images/cart.png");
    width: 266px;
    height: 182px;
    position: absolute;
    right: 15px;
    top: -26px;
}

#order-form-template body {
    width: 750px;
    margin: 0 auto;
    padding: 50px 10px;
}

#order-form-template #letterhead {
    position: relative;
    overflow: visible;
    height: 136px;
}

#outer {
    background: #ccc;
    box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 12px 49px rgba(0, 0, 0, 0.39);
    margin-top: 15px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #28abe1;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: White;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.80);
    z-index: 10;
    text-align: center;
}

#top-bar-item-container {
    display: inline-block;
    text-align: left;
    position: relative;
}

#categories-icon {
    background-image: url("/images/icon-32x32-categories.png");
    opacity: .40;
    cursor: default;
}

#top-bar #categories-list {
    width: 160px;
}

#page-nav-cart {
    background-image: url("/images/icon-32x32-cart.png");
    margin-left: 20px;
    opacity: 1;
}

    #page-nav-cart:hover {
        cursor: default;
    }

#refresh-calculations {
    background-image: url("/images/icon-32x32-refresh.png");
    margin-left: 5px;
    background-color: #28abe1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 10px;
    border-radius: 18px;
}

#page-nav-top {
    background-image: url("/images/icon-32x32-page-nav-top.png");
    margin-left: 0px;
}

#page-nav-bottom {
    background-image: url("/images/icon-32x32-page-nav-bottom.png");
}

.top-bar-button {
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: -1px;
    background-repeat: no-repeat;
    opacity: 0.8;
}

    .top-bar-button:hover {
        cursor: pointer;
        opacity: 1.0;
    }

#cart-count {
    font-size: 12px;
}

#top-bar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tip-text {
    color: grey;
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
}

#tip-search {
    position: absolute;
    top: 0px;
    left: 50px;
    display: none;
}

#order-form-template #QV_SubmitOptions {
    display: none;
}

#update-totals-button {
    display: inline-block;
    background-color: #2A2F49;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin-left: 15px;
}

#update-totals-button-inner {
    font-size: 11px;
    letter-spacing: -1px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: -1px;
}

    #update-totals-button-inner:hover {
        cursor: pointer;
    }

    #update-totals-button-inner.button-disabled {
        opacity: .4;
    }

        #update-totals-button-inner.button-disabled:hover {
            cursor: default;
        }

#update-totals-button-loader {
    position: absolute;
    top: 0px;
    left: 4px;
    width: 70px;
    height: 24px;
    background-image: url('https://quotevalet.com/images/loader004.gif');
    background-color: #2A2F49;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}

.tool-tip {
    position: absolute;
    display: inline-block;
}

.tool-tip-point {
    background-image: url('https://quotevalet.com/images/tool-tip-point.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 15px;
    opacity: .8;
}

.tool-tip-body {
    position: relative;
    padding: 10px;
}

.tool-tip-content {
    color: White;
}

.tool-tip-background {
    height: 100%;
    width: 100%;
    background-color: Black;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: .8;
    z-index: -1;
}

#top-bar-total {
    width: 100px;
    display: inline-block;
    text-align: center;
}

#total-stats {
    position: absolute;
    top: 29px;
    display: none;
}

    #total-stats #totals-table td {
        padding: 0px;
        margin: 0px;
        height: 1px;
        padding-top: 0px;
        margin-top: 0px;
        line-height: 20px;
    }

.upload-area iframe {
    /*border: 1px solid red;*/
    width: 100%;
    height: 499px;
}







/* GLOBAL */
/*-------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}

body
{
    line-height: 1;
}

ol, ul
{
    list-style: none;
}

blockquote, q
{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------------------*/

body
{
    background-color: #FFFFFF;
    color: #231F20;
    font-family: Verdana;
    font-size: 12px;
}

li
{
    list-style-position: outside;
    list-style-type: disc;
    margin: 10px;
    margin-left: 20px;
}

strong
{
    font-weight: bold;
}

a:link, a:visited
{
    color: #0053a6;
    text-decoration: none;
}

a:hover, a:active
{
    color: #7ebfff;
    text-decoration: underline;
}

a img
{
    border: 0;
}

p
{
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

h1
{
    font-size: 35px;
    padding: 0 0 15px 0;
}

h2
{
    font-size: 20px;
    padding: 10px 0 10px 0;
}

h3
{
    font-size: 15px;
    padding: 0 0 5px 0;
}

h4
{
    font-size: 13px;
    font-weight: bolder;
    padding: 5px 0 5px 0;
}

/*-------------------------------------------------*/

.form-type-001
{
    overflow: hidden;
}

.form-type-001 .form-label-area, .form-type-001 .form-input-area
{
    display: inline;
    margin-bottom: 2px;
    margin-top: 2px;
}

.form-type-001 .form-label-area
{
    clear: both;
    float: left;
    line-height: 17px;
    overflow: hidden;
    position: relative; /* Override this for label area column width */
    width: 150px;
}

.form-type-001 .form-label-area.string-literal
{
    position: relative;
    top: -2px;
}

.form-type-001 .form-label-area label
{
    font-weight: bolder;
}

.form-type-001 .form-label-area .form-comment
{
    color: Gray;
    font-size: smaller;
}

.form-type-001 .form-input-area .form-comment
{
    color: Gray;
    font-size: 11px;
    font-style: italic;
    padding-bottom: 5px;
}

.form-type-001 .form-input-area
{
    float: left;
    margin-left: 8px;
}

/*-------------------------------------------------*/

/*jQuery Validation Plugin*/

.form label.error
{
    color: Red;
    margin-left: 6px;
}

.content-border002
{
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border: 20px solid #385277;
    border-radius: 40px;
    margin: 0 auto;
    width: 893px;
}

/*-------------------------------------------------*/

.content-border001
{
    margin: 0 auto;
    width: 893px;
}

.content-border001.top, .content-border001.bottom
{
    height: 40px;
}

.content-border001.top
{
    background-image: url("https://quotevalet.com/Images/PaymentPage/BorderTop.gif");
}

.content-border001.center
{
    background-image: url("https://quotevalet.com/Images/PaymentPage/BorderCenter.gif");
}

.content-border001.bottom
{
    background-image: url("https://quotevalet.com/Images/PaymentPage/BorderBottom.gif");
}



/*-------------------------------------------------*/

.content-box001
{
    width: 200px;
}

.content-box001 .header, .content-box001 .content
{
    border: 2px solid #385277;
    padding: 10px;
    text-align: center;
    width: inherit;
}

.content-box001 .header
{
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    background-color: #385277;
    border-radius: 7px 7px 0 0;
    color: White;
    font-size: 25px;
    height: 30px;
}

.content-box001 .content
{
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    background-color: White;
    border-radius: 0 0 7px 7px;
    height: 120px;
}

.content-box001 .twoliner-1
{
    color: #6a94d1;
    font-size: 16px;
    padding: 20px 0 15px 0;
}

.content-box001 .twoliner-2
{
    font-size: 25px;
}

/*-------------------------------------------------*/

.modal-background
{
    background-image: url("/images/50bg.png");
    background-repeat: repeat;
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.modal-background .modal-window
{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: White;
    border: 5px solid #28abe1;
    border-radius: 20px;
    display: block;
    min-height: 200px;
    min-width: 400px;
    overflow: visible;
    padding: 20px;
    position: fixed;
    text-align: left;
}

/*-------------------------------------------------*/

.modal-background.lightbox .modal-window
{
    -moz-border-radius: 0px;
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.80);
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.80);
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.80);
    max-height: 80%;
    max-width: 80%;
    min-height: 0%;
    min-width: 0%;
    padding: 30px;
    text-align: center;
}

.modal-background.lightbox .lightbox-image
{
    max-height: 80%;
    max-width: 80%;
}

.modal-background.lightbox .lightbox-video
{
    height: 284px;
    width: 500px;
}

.modal-background.lightbox.mode-image .lightbox-image
{
    display: inline-block;
}

.modal-background.lightbox.mode-image .lightbox-video
{
    display: none;
}

.modal-background.lightbox.mode-video .lightbox-image
{
    display: none;
}

.modal-background.lightbox.mode-video .lightbox-video
{
    display: block;
}

.modal-background.lightbox .modal-window .button.ok
{
    background-color: white;
    background-image: url(https://quotevalet.com/Images/PaymentPage/X.gif);
    background-position: right center;
    background-repeat: no-repeat;
    height: 15px;
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 0px 8px;
}

/*-------------------------------------------------*/

.button
{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #28abe1;
    border-radius: 7px;
    color: White;
    display: inline-block;
    padding: 6px 15px;
}

.button:Hover
{
    background-color: #4E72A6;
    cursor: pointer;
}

.big-button
{
    background-color: #4450A4;
    border: 3px solid #1C1C55;
    color: White;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.big-button:hover
{
    background-color: #606aaf;
    cursor: pointer;
    text-decoration: none;
}

/*-------------------------------------------------*/

.table-001
{
    border-collapse: collapse;
    margin: 1px;
    text-align: left;
    width: 100%;
}

.table-001 th
{
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
    text-align: left;
}

.table-001 td
{
    border-bottom: 1px solid #eee;
    color: #28abe1;
    font-size: smaller;
    padding: 6px 8px;
    vertical-align: top;
}

.table-001 tbody tr:hover td
{
    color: #009;
}

/*-------------------------------------------------*/

.info-comment-001
{
    color: #666666;
    font-style: italic;
}

.info-comment-002
{
    color: Gray;
    font-style: italic;
    font-weight: bolder;
}

/*-------------------------------------------------*/

.internal-message
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFFFCC;
    border: 3px solid #FF0000;
    border-radius: 10px;
    color: #FF0000;
    margin-bottom: 15px;
    padding: 20px;
}

.content-001
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #E7E8F1;
    border-radius: 10px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.error-message
{
    color: #FF0000;
    font-size: 20px;
}


/*-------------------------------------------------*/

#vars
{
    display: none;
}

.OuterMostBox
{
    margin: 30px auto;
    text-align: left;
    width: 960px;
}

/*-------------------------------------------------*/

.list-type-001
{
    overflow: hidden;
}

ol.list-type-001 li
{
    list-style-type: none;
}

.list-type-001 .list-header, .list-type-001 .list-data
{
    line-height: 15px;
}

.list-type-001 .list-header
{
    clear: both;
    float: left;
    width: 100px;
}

.list-type-001 .list-data
{
    float: left;
}

/*-------------------------------------------------*/

#please-wait
{
    display: none;
}

#please-wait .modal-window
{
    border-width: 2px;
    height: 100px;
    min-height: 0px;
    min-width: 0px;
    text-align: center;
    width: 200px;
}

#please-wait #message
{
    font-size: 16px;
    padding: 20px 0 10px 0;
}

/*
=======================================================
Aspire jSignature Implementation BEGIN
=======================================================
*/

#jsig-box
{
    border: 1px solid #646464;
    border: 1px solid #abadb3;
    color: black;
    font-family: Arial;
    height: 140px; /*Needed for jsig-curtain*/
    position: relative;
    width: 550px; /*This is matched to the other form elements in the corresponding jquery code. This allows for a platform independant match of enabled / disabled colors, etc.*/
}

#jsig-box.accepted
{

}

#jsig-host-div
{
    cursor: crosshair;
}

#jsig-box.accepted #jsig-host-div
{
    display: none;
}

#jsig-clear-button
{
    -khtml-user-select: none;
    -moz-border-radius-bottomright: 10px;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-user-select: none;
    background-color: #646464;
    border-bottom-right-radius: 7px;
    color: white;
    cursor: pointer;
    display: block;
    display: none;
    font-family: Arial;
    font-size: 11.5px;
    font-size: 11px;
    height: 17px;
    left: 0px;
    line-height: 17px;
    padding-left: 8px;
    padding-right: 10px;
    position: absolute;
    text-align: center;
    top: 0px;
    user-select: none;
    width: initial;
}

#jsig-clear-button:hover
{
    background-color: #808080;
}

#jsig-box.accepted #jsig-clear-button
{
    display: none;
}

#jsig-curtain
{
    background-color: white;
    bottom: 0px;
    display: none;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#jsig-box.accepted #jsig-curtain
{
    display: none;
}

#jsig-line-replacement
{
    background-color: #888888;
    border-bottom: 1px solid white;
    bottom: 21px;
    cursor: crosshair;
    display: none;
    height: 2px;
    left: 29px;
    position: absolute;
    right: 29px;
}

#jsig-box.accepted #jsig-line-replacement
{
    cursor: default;
    display: none;
}

#jsig-signer-full-name-target
{
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
    bottom: 10px;
    color: Gray;
    cursor: crosshair;
    font-family: Arial;
    font-size: 13px;
    left: 41px;
    pointer-events: none;
    position: absolute;
    user-select: none;
}

#jsig-captured-string
{
    color: rgb(153, 71, 71);
    font-family: ‘ Courier New ’, Courier, monospace;
    font-size: 10.5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

#jsig-box.accepted #jsig-signer-full-name-target
{
    cursor: default;
}

.jsig-image-data-form-input
{
    display: none;
}

.form label.error[for="QV_InputAcceptedBySignatureImageData"]
{
    left: 205px;
    pointer-events: none;
    position: absolute;
    top: 10px;
}

/*
=======================================================
Aspire jSignature Implementation END
=======================================================
*/

.qv-info
{
    border: 1px solid;
    margin-bottom: 10px;
    padding: 10px;
}

.qv-info-title
{
    font-size: 15px;
    margin-bottom: 5px;
}

.qv-info-details
{
    color: black;
    line-height: 16px;
}

.qv-info-info
{
    background-color: #E9F6FC;
    border-color: #5CBEEE;
}

.qv-info-info .qv-info-title
{
    color: #004F9A;
}

.qv-info-error
{
    background-color: #FFE8E8;
    border-color: #FFC1C1;
}

.qv-info-error .qv-info-title
{
    color: #B30811;
}

.qv-info-warning
{
    background-color: #FEEFB3;
    border-color: #D0BD6E;
}

.qv-info-warning .qv-info-title
{
    color: #A26407;
}

.qv-info-success
{
    background-color: #DFF2BF;
    border-color: #C5DA84;
}

.qv-info-success .qv-info-title
{
    color: #088308;
}

.payment-option, .payment-option-radio-area, .payment-option-info, .payment-option-amount
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.payment-option-radio-area, .payment-option-info, .payment-option-amount
{
    color: black;
    height: 100%;
    padding: 5px;
    vertical-align: top;
}

.payment-option
{
    border: 1px solid rgb(168, 168, 168);
    height: 70px;
    margin-bottom: 5px;
    position: relative;
}

.payment-option-radio-area
{
    background-color: #D3D3D3;
    display: inline-block;
    position: relative;
    width: 20px;

    cursor: pointer;
}

    .payment-option-radio-area:hover {
        background-color: #bbb;
    }

    .payment-option-radio-button {
        left: -1px;
        position: absolute;
        top: 24px;
        cursor: pointer;
    }

.payment-option-info
{
    background-color: white;
    display: inline-block;
}

.payment-option-info-description
{
    width: 520px;
}

.payment-option-info-invalid-reason
{
    /*width: 520px;*/
    color: red;
}


.payment-option-info-line-1
{
    font-weight: bold;
}

.payment-option-amount
{
    background: #c5da84;
    background: -moz-linear-gradient(top, #c5da84 0%, #98c145 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5da84), color-stop(100%, #98c145));
    background: -webkit-linear-gradient(top, #c5da84 0%, #98c145 100%);
    background: -o-linear-gradient(top, #c5da84 0%, #98c145 100%);
    background: -ms-linear-gradient(top, #c5da84 0%, #98c145 100%);
    background: linear-gradient(to bottom, #c5da84 0%, #98c145 100%);
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5da84', endColorstr='#98c145', GradientType=0);
    position: absolute;
    right: 0px;
    text-align: right;
    width: 220px;
}

.payment-option-is-invalid .payment-option-amount
{
    background: #d3d3d3;
    background: -moz-linear-gradient(top, #d3d3d3 0%, #b6b6b6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #b6b6b6));
    background: -webkit-linear-gradient(top, #d3d3d3 0%, #b6b6b6 100%);
    background: -o-linear-gradient(top, #d3d3d3 0%, #b6b6b6 100%);
    background: -ms-linear-gradient(top, #d3d3d3 0%, #b6b6b6 100%);
    background: linear-gradient(to bottom, #d3d3d3 0%, #b6b6b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#b6b6b6', GradientType=0);
}

.payment-option-amount-line-1
{
    font-size: 20px;
    margin-bottom: 5px;
}

.payment-option-amount-line-2 {

}

.payment-option-amount-line-3 {
    margin-top: 5px;
}



    .acceptance-post-back-errors {
        color: red;
        margin-top: 20px;
    }

/* -----------------------------------------*/

/* VIDEOS */

.qv-video-section
{
    clear: both;
    text-align: center;
}

.qv-video-thumbnails
{
    background-color: #DFDFDF;
    padding: 10px 10px 8px 10px;
}

.qv-video-thumbnails > *
{
    margin-right: 10px;
}

.qv-video-thumbnail
{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 100px;
    text-align: center;
    cursor: pointer;
}

.qv-video-thumbnail-image
{
    width: 80%;
}

.qv-video-thumbnail-play
{
    background-image: url('../Images/yt-play.png');
    height: 31px;
    width: 46px;
    position: absolute;
    top: 25px;
    left: 58px;
    opacity: .7;
}

.qv-video-thumbnail:hover .qv-video-thumbnail-play
{
    opacity: 1;
}
.qv-video-thumbnail-title
{
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;
    color: #f7f3f3;
    background-color: rgba(58,82,117,0.87);
    font-size: 12px;
    text-align: center;
    padding: 0px 5%;
    border-top: 1px solid gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px;
    transition: all 250ms;
    z-index: 10;
}

.qv-video-thumbnail:hover .qv-video-thumbnail-title
{
    white-space: normal;
    top: 97px;
}

.qv-video-container
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    background-color: black;
}
.qv-video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.qv-video-main-close
{
    color: red;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 20px;
    height: 5px;
    cursor: pointer;
    -ms-opacity: .8;
    opacity: .8;
}

.qv-video-main-close:hover
{
    -ms-opacity: 1;
    opacity: 1;
}

.qv-video-section-single .qv-video-thumbnails
{
    display: none;
}

.qv-video-section-single .qv-video-container
{
    display: block;
}

.qv-video-section-multi .qv-video-thumbnails
{
    display: block;
}

.qv-video-section-multi .qv-video-container
{
    display: none;
}

.col-qv-line-item-video
{
    display: none;
}

.qv-has-line-item-videos .col-qv-line-item-video
{
    display: table-cell;
}

.qv-line-item-video-thumbnail
{
    position: relative;
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.qv-line-item-video-thumbnail-image
{
    width: 100%;
}

.qv-line-item-video-thumbnail-title
{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: -53px;
    width: 142px;
    color: white;
    background-color: rgba(0,0,0,.8);
    color: #f7f3f3;
    background-color: rgba(58,82,117,0.87);
    font-size: 12px;
    padding: 8px;
    z-index: 10;
    transition: all 500ms;
}

.qv-line-item-video-thumbnail:hover .qv-line-item-video-thumbnail-title
{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.qv-line-item-video-thumbnail-play
{
    background-image: url('../Images/yt-play.png');
    height: 31px;
    width: 46px;
    position: absolute;
    top: 4px;
    left: 2px;
    opacity: 0;
    background-repeat: no-repeat;
}

.qv-line-item-video-thumbnail:hover .qv-line-item-video-thumbnail-play
{
    opacity: 1;
    height: 31px;
    width: 46px;
}

/* -----------------------------------------*/
/* -----------------------------------------*/
/* -----------------------------------------*/
/* -----------------------------------------*/
